{% extends "base.html" %}

{% block title %}
  Divine Shop | Accueil
{% endblock title %}
{% block bodyclass %}
  bg-surface text-on-surface font-body selection:bg-primary-container selection:text-on-primary-container
{% endblock bodyclass %}
{% block body %}
  <main>
    {% include "includes/hero.html" %}
    {% include "includes/about.html" %}
    {% include "includes/featured_collection.html" %}
    {% include "includes/best_sellers.html" %}
    {% include "includes/testimonials.html" %}
    {% include "includes/newsletter.html" %}
  </main>
{% endblock body %}
