<section class="py-16 px-8 bg-white">
  <div class="max-w-screen-2xl mx-auto">
    <div class="text-center mb-12">
      <span class="font-medium text-[10px] uppercase tracking-[0.4em] text-amber-600 mb-2 block">The Essentials</span>
      <h2 class="text-3xl md:text-4xl font-serif italic text-slate-900">Les articles les plus demandes</h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-6 gap-y-12">
      <div class="group cursor-pointer">
        <div class="w-full h-[350px] md:h-[400px] bg-slate-50 mb-4 overflow-hidden relative rounded-sm">
          <img class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-105"
               src="https://lh3.googleusercontent.com/aida-public/AB6AXuA_HenrhrvtyJRDCSeprfKEY_Ot2JWf1hzLUSt_EdJH8e-QL5t7JFUrl74ILlmw64B8HxhMvjjk7EUjl-OcTa1OM60Eg083nhLEl4Sn6JySxhzSJpa6eGiuPrDYC2yPilZBXHkm-wQmlCSczMJt-f7x_YsUlnZWuUE33K6PsIE5s9nw8In_5uYIO0EY6OE9j2rlFd4az2zb500bZs-Yx8_pjqI-DkRF5FwBUQgRz89jft8emPKIdUR06r-c2B6gLJhfyZoavx-s46i4"
               alt="Produit" />
          <button class="absolute bottom-4 left-1/2 -translate-x-1/2 w-[90%] py-3 bg-slate-900/90 text-white font-bold text-[9px] uppercase tracking-widest opacity-0 group-hover:opacity-100 translate-y-2 group-hover:translate-y-0 transition-all duration-300 backdrop-blur-sm">
            Quick Add
          </button>
        </div>
        <div class="text-center">
          <h3 class="text-md font-serif italic text-slate-900 mb-1 group-hover:text-amber-600 transition-colors">
            Oceanic Luster
          </h3>
          <p class="text-amber-600 font-bold text-xs tracking-widest">$285.00</p>
        </div>
      </div>
    </div>
  </div>
</section>
