<section class="py-24 px-8 bg-white border-b border-slate-100 mt-16">
  <div class="max-w-screen-2xl mx-auto flex flex-col md:flex-row items-center gap-20">
    
    <div class="w-full md:w-1/2 flex items-center justify-center">
        <img src="static/imagesf/image copy.png" 
             class="w-1/2 object-contain drop-shadow-sm" 
             alt="Formation Artisanat & IA">
    </div>

    <div class="w-full md:w-1/2 text-center md:text-left flex flex-col items-center md:items-start gap-8">
      
      <span class="font-bold text-[11px] uppercase tracking-[0.5em] text-amber-600 block">
        Atelier de l'Héritage
      </span>
      
      <h2 class="text-4xl md:text-6xl font-serif italic text-slate-950 leading-[1.1]">
        Formations d'exception : <br>
        <span class="text-slate-800">L'Art du Perlage réinventé.</span>
      </h2>
      
      <p class="text-slate-600 text-base md:text-lg leading-relaxed font-light max-w-xl">
        Découvrez nos formations exclusives. Maîtrisez les techniques ancestrales de perlage enrichies par l'innovation. Apprenez l'artisanat du futur et donnez vie à vos propres collections divines.
      </p>

      <a href="#" class="inline-flex items-center justify-center px-12 py-5 text-[10px] font-bold uppercase tracking-[0.3em] text-white bg-amber-600 hover:bg-slate-900 rounded-sm transition-all duration-300 shadow-lg">
        Voir les formations
      </a>

    </div>
  </div>
</section>